.toaskcomponent-container{
    position:flex;
    top: 10%;
    left: 20px;
    right: 0px;
}
.toaskcomponent {
  position: flex;
  top: 15%;
  left: 20px;
  right: 0px;

  width: calc(100vw - 40px);

  display:flex;
  flex-direction: row;
  gap: 10px;
  max-height: 500px;
  padding-right: 5px;
  padding-top: 35px;


  overflow-x: auto;
  overflow-y:auto;

  padding-bottom: 10px;
  z-index: 2000;
}
.toaskcomponent::-webkit-scrollbar {
  height: 6px;
}

.toaskcomponent::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}


.toast {
  min-width: 300px; 
  flex-shrink: 0;  
  margin-left: 30px; 
  margin-right: 30px;
}

